bin/* linguist-language=Javascript
proto/* linguist-vendored
proto/xudrpc.proto linguist-vendored=false
lib/proto/* linguist-generated
package-lock.json linguist-generated
docs/api.md linguist-generated
sample-xud.conf linguist-generated
