bin/* linguist-language=Javascript
proto/* linguist-vendored
proto/xudrpc.proto linguist-vendored=false
lib/proto/* linguist-generated
package-lock.json linguist-generated
docs/api.md linguist-generated
sample-xud.conf linguist-generated
test/simulation/lntest/* linguist-vendored
test/simulation/xudrpc/annotations.proto linguist-vendored
test/simulation/xudrpc/google/* linguist-vendored
test/simulation/xudrpc/xudrpc.pb.go linguist-generated
